.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* After this point is my own additions */

/* img {
  width: 512px;
  height: auto;
} */

/* 600 seems to be a minimum width i guess, dunno what's up with that but the larger
    ones simply will not display otherwise */
.CompareImage {
  max-width: 600px;
}

.CaroContainer {
  margin: 0;
  padding: 0;
  /* width: 100vw; */
  /* width: 100%; */
  max-width: 100%;
  height: 70vh;
}

.CaroCarousel {
  
}

.CaroItem{
  text-align: center;
  /* height: 70vh; */
}

.CaroImage{
  /* width: 500px;
  height: auto;
  object-fit: contain; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* padding-left: auto; */
  /* padding-right: auto; */
  max-width: 100%;
  max-height: 70vh;
}

.centerButton{
  text-align: center;
}

.inputButton{
  /* text-align: center; */
  /* width: 215px; */
  
  margin-left: calc(50vw - 100px);
}